<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_session.user %>
</p>

<p>
  <strong>user_session token:</strong>
  <%= @user_session.user_session_token %>
</p>

<%= link_to 'Edit', edit_user_session_path(@user_session) %> |
<%= link_to 'Back', user_sessions_path %>
