<header class="user-index">
  <top-box>
    <nstagram-logo class="medium">nstagram</nstagram-logo>
  </top-box>
  <button class="logout">LOG OUT</button>
</header>
<ul>
  <% users.each(function (user) { %>
    <li>
      <a href="#users/<%= user.escape("username") %>">
        <nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
          <!-- <img class="profile-picture" src="<%= user.escape("profile_picture") %>" alt="<%= user.escape("username") %>" /> -->
          <% if (user.escape("profile_picture") === "/assets/missing.png") { %>
          <!-- <sub>NO PHOTO</sub> -->
          <% } %>
        </nstagram-avatar>
        <h4><%= user.escape("username") %></h4>
      </a>
    </li>
  <% }); %>
</ul>
