<header>
<nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
</nstagram-avatar>
<p>
  <a href="#users/<%= user.escape("username") %>/followers">
    <strong><%= user.escape("num_followers") %></strong> Followers
  </a>
</p>
<p>
  <a href="#users/<%= user.escape("username") %>/following">
    Following <strong><%= user.escape("num_following") %></strong>
  </a>
</p>
<nstagram-follow-button>
</nstagram-follow-button>
<p>
  <%= user.escape("full_name") %>
</p>
<p>
  <em><%= user.escape("bio") %></em>
</p>
<p>
  <small><%= user.escape("website_url") %></small>
</p>
<% if (user.id === userSession.id) { %>
<p>
  <a href="#users/<%= user.escape("username") %>/edit"><strong>Edit Your Profile</strong></a>
</p>
<% } %>
</header>
<br>

<nstagram-thumbs-index></nstagram-thumbs-index>
