<p>
  <strong><%= user.escape("username") %></strong>
</p>
<p>
  <nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
    <!-- <img class="profile-picture" src="<%= user.escape("profile_picture") %>" alt="<%= user.escape("username") %>" /> -->
    <% if (user.escape("profile_picture") === "/assets/missing.png") { %>
    <!-- <sub>NO PHOTO</sub> -->
    <% } %>
  </nstagram-avatar>
</p>
<p>
  <strong><%= user.escape("num_followers") %></strong> Followers
</p>
<p>
  Following <strong><%= user.escape("num_following") %></strong>
</p>
<% if (user.has("is_following")) { %>
  <button class="unfollow-button is-following-<%= user.get("is_following") %>">Unfollow</button>
  <button class="follow-button is-following-<%= !user.get("is_following") %>">Follow</button>
<% } %>
<p>
  <strong><%= user.escape("full_name") %></strong>
</p>
<p>
  <strong><%= user.escape("bio") %></strong>
</p>
<p>
  <strong><%= user.escape("website_url") %></strong>
</p>
<br>
<a href="#">All Users</a>
