<header class="profile-header clearfix">
  <div class="profile-header-top clearfix">

  <nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
  </nstagram-avatar>
  <ul>
    <div class="clearfix">
    <li><a href="#users/<%= user.escape("username") %>/photos" class="photos-link">
        <strong><%= user.escape("num_posts") %></strong> posts
      </a></li><li>
      <a href="#users/<%= user.escape("username") %>/followers">
        <strong><%= user.escape("num_followers") %></strong> followers
      </a>
    </li><li>
      <a href="#users/<%= user.escape("username") %>/following">
        <strong><%= user.escape("num_following") %></strong> following
      </a>
    </li>
  </div>
    <% if (user.id === userSession.id) { %>
    <p>
      <a href="#users/<%= user.escape("username") %>/edit" class="edit-profile-link">Edit Profile</a>
    </p>
    <% } else { %>
    <nstagram-follow-button>
    </nstagram-follow-button>
  <% } %>
  </ul>
  </div>
<p class="full-name">
  <%= user.escape("full_name") %>
</p>
<p class="bio">
  <%= user.escape("bio") %>
</p>
<p class="website">
  <a href="<%= user.escape("website_url") %>" target="_blank"><%= user.escape("website_url") %></a>
</p>
</header>
<br>
<ul class="profile-nav clearfix">
  <li class="selected"><a href="#" class="thumbnail-link"><nsta-icon class="icon ion-grid"/></a></li>
  <li><a href="#" class="full-size-link"><nsta-icon class="icon ion-navicon-round" /></a></li>
</ul>
<nstagram-thumbs-index></nstagram-thumbs-index>
<nstagram-full-size-index></nstagram-full-size-index>
