<label for="user_username">Username</label>
<input type="text" name="user[username]" id="user_username" placeholder="username" value="<%= user.escape("username") %>" required>
<br>

<% if (user.isNew()) { %>
<label for="user_email">Email</label>
<input type="email" name="user[email]" id="user_email"  placeholder="email" value="<%= user.escape("email") %>" required>
<br>
<label for="user_password">Password</label>
<input type="password" name="user[password]" id="user_password"  placeholder="password" required>
<br>

<label for="user_password_confirmation">Password confirmation</label>
<input type="password" name="user[password_confirmation]" id="user_password_confirmation"  placeholder="password" required>
<br>
<% } %>
<label for="user_full_name">Full name</label>
<input type="text" name="user[full_name]" id="user_full_name"  placeholder="Full Name" value="<%= user.escape("full_name") %>" required>
<br>

<label for="user_bio">Bio</label>
<input type="text" name="user[bio]" id="user_bio"  placeholder="bio" value="<%= user.escape("bio") %>">
<br>

<label for="user_website_url">Website url</label>
<input type="url" name="user[website_url]" id="user_website_url"  placeholder="website" value="<%= user.escape("website_url") %>">
<br>

<label for="user_profile_picture">Profile photo url</label>
<input type="url" name="user[profile_picture]" id="user_profile_picture"  placeholder="profile photo" >
<br>
<% if (user.isNew()) { %>
<button>Sign Up</button>
<% } else { %>
<button>Update</button>
<% } %>
