<% if (!profile) { %>
  <p class="post-date"><em><%= photo.escape("posted") %> ago</em></p>
  <a href="#users/<%= user.escape("username") %>" class="photo-head clearfix">
    <h4>
    <nstagram-avatar class="clearfix" style="background-image: url(<%= user.escape("profile_picture_url") %>)">
    </nstagram-avatar>
    <%= user.escape("username") %></h4>
  </a>
<% } %><nsta-photo class="clearfix">
<img src="<%= photo.escape("url") %>" alt="<%= user.escape("username") %> posted this photo <%= photo.escape("posted") %> ago" />
</nsta-photo>
<p class="likes">
  <% if (photo.get("likes")) { %>
    <% if (photo.get("likes").count > 10) { %>
    &#x1f493;
      <%= photo.get("likes").count %> likes
    <% } else if (photo.get("likes").count > 0) { %>
      &#x1f493;
      <% photo.likers.forEach(function(liker, idx) { %>
        <a href="#users/<%= liker.username %>"><%= liker.username %> </a>
        <%= idx + 1 === photo.likers.length ? " " : ", " %>
      <% }) %>
    <% } %>
  <% } %>
</p>
<% if (photo.escape("caption") !== "") { %>
  <p class="caption">
    <a href="#users/<%= user.escape("username") %>" class="comment-author"><%= user.escape("username") %></a>
    <%= photo.escape("caption") %>
  </p>
<% } %>
